{{#if success_msg}}
<div class="alert alert-warning alert-dismissible mb-0" role="alert">
  <p>{{success_msg}}</p>
  <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#if error_msg}}
<div class="alert alert-warning alert-dismissible mb-0" role="alert">
  <p>{{error_msg}}</p>
  <button type="button" class="btn-close btn-sm" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
