{{> message}}

<div class="containerForLogin">
  <div class="loginCard card my-5 p-2">
    <h2>登入</h2>
    <form action="/login" method="POST">
      <div>
        <div>
          <label for="email">電子郵件</label>
        </div>
        <input type="email" name="email" placeholder="Enter email" required>
      </div>
      <div>
        <div>
          <label for="password">密碼</label>
        </div>
        <input type="password" name="password" placeholder="Enter password" required>
      </div>
      <button type="submit" class="mt-2">登入</button>
    </form>
    <form action="/login/facebook" method="GET">
      <button type="submit">Facebook Login</button>
    </form>
    <div>
      <span>沒有帳號？</span>
      <a href="/register">註冊</a>
    </div>
  </div>
</div>