<div class="new-container">
  <div class="row">
    <div class="col-12 col-md-10 mx-auto">
      <form action="" class="mb-1">
        <span>餐廳名稱：</span>
        <input type="text" placeholder="請輸入餐廳名稱" />
      </form>
      <form action="" class="mb-1">
        <span>餐廳名稱2：</span>
        <input type="text" placeholder="請輸入餐廳名稱" />
      </form>
    </div>
  </div>
</div>